.profile_edit_button {
  box-sizing: border-box;
  margin: 0 0 0 18px;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background: url(../../../../images/Edit_Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile_edit_button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 767px) {
  .profile_edit_button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
