.elements {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  margin: 75px auto 0;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .elements {
    max-width: 288px;
    flex-direction: column;
    gap: 20px
  }
}
